language: python
python:
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"

before_install:
  - cd code

install:
  - sudo apt install nginx
  - pip install -r requirements.txt

script:
  - pytest
